@tailwind base;
@tailwind components;
@tailwind utilities;

.list-enter-active,
.list-leave-active {
    transition: all 0.18s ease;
}

.list-enter-from,
.list-leave-to {
    opacity: 0;
    transform: translateY(8px);
}